* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; 
  background-image: url('https://i.pinimg.com/originals/44/00/22/4400229294ea52102e6417a2a3b48889.gif'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif;
  touch-action: none; 
}
canvas.webgl {
  width: 100% !important;
  height: 100% !important;
  display: block;
}


.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 99999;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 100;
  color: white;
}

#loader {
  display: grid;
  place-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #b7d4c8ee;
  backdrop-filter: blur(5px);
}